* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
}

.j-header-container {
  display: flex;
  align-items: center;
  background-color: rgb(243, 243, 243);
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  padding: 0px 10px;
  margin: 0px;
}

#hamburger {
  display: none;
  color: rgb(0, 60, 190);
  font-size: 30px;
}

#main-logo {
  background-color: rgb(243, 243, 243);
}

#main-logo a>img {
  width: 180px;
  mix-blend-mode: multiply;
  margin-top: 5px;
}

#search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  height: 40px;
  padding: 0px 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 50px;
  background-color: white;
}

#search-bar>div:nth-child(1) {
  align-items: center;
  width: 95%;
}

.search {
  border: none;
  font-size: 15px;
  margin-left: 10px;
  width: 99%;
}

.search:focus {
  outline: none;
}

#search-bar>div:nth-child(2) i {
  color: rgb(0, 60, 190);
  font-size: 23px;
}

#user-account {
  display: flex;
  align-items: center;
  color: rgb(0, 60, 190);
  height: 40px;
  padding: 0px 20px;
  border-radius: 50px;

}

#user-account:hover {
  background-color: rgb(218, 230, 255);
}

#user-account:hover #login-form {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  transition: .5s;
}

#user-account i {
  font-size: 20px;
  margin-right: 10px;
}

#login-form {
  /* display: none; */
  position: absolute;
  z-index: 2;
  text-align: center;
  clip-path: polygon(20% 0%, 25% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 15% 5%);
  background-color: rgb(233, 233, 233);
  top: 52px;
  padding: 30px 20px;
  height: 240px;
  width: 320px;
  border-radius: 10px;
  text-decoration: none;
  right: 2%;
  visibility: hidden;
  opacity: 0;
}

#login-form h3 {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid;

}

#login-form input {
  width: 90%;
  margin-bottom: 15px;
  padding: 5px 0px 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

#login-form input:focus {
  outline: 1px solid #1A4E8A;
}

#userLogBtn {
  font-size: 17px;
  padding: 5px 20px;
  margin: 7px 0px;
  border: none;
  border-radius: 5px;
  background-color: #1A4E8A;
  color: white;
  width: 35%;
  height: 35px;
}

#userLogBtn:hover {
  cursor: pointer;
}

#login-form p {
  margin: 10px 0px;
  font-size: 17px;
}

#login-form p a {
  color: rgb(211, 0, 0);
}

.userHeading {
  color: black;
}




#order {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: rgb(0, 60, 190);
  height: 40px;
  padding: 0px 20px;
  border-radius: 50px;
}

#order:hover {
  background-color: rgb(218, 230, 255);
}

#order i {
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
}

/*///////////////// Nav Bar ////////////////////////////// */
:root {
  --hoverTextColor: rgb(0, 60, 190);
  --textColor: rgb(83, 81, 81);
}

nav {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ccc;
  height: 54px;
}

nav ul a {
  text-decoration: none;
  color: var(--textColor);
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 10px;
  height: 100%;
  margin: 0;
  position: relative;
  z-index: 0;
}

nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

nav ul li:hover {
  color: var(--hoverTextColor);
  border-bottom: 4px solid var(--hoverTextColor);
}

/**module box submenu***/
.subMenu {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* display: none; */
  margin: 0px 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 20px;

}

.subMenu {
  opacity: 0;
  visibility: hidden;

}

nav ul li:hover .subMenu {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  transition: .4s;
}

.subMenu p {
  color: var(--textColor);
  margin: 3px;
  padding: 5px;
  border-radius: 3px;

}

.subMenu p:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.submenuList {
  display: flex;
}

.column {
  margin-right: 40px;

}


/* /////////////////////// MAIN BODY /////////////////////////// */
#main-body {
  width: 95%;
 
  margin: auto;
}

#banner {
  position: relative;
  background-color: rgb(243, 243, 243);
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(221, 221, 221);
}

#banner img {
  width: 100%;
  mix-blend-mode: multiply;
}

.j-offer-card {
  margin: 0px 0px 30px 0px;
  padding-top: 20px;
  background-color: rgb(243, 243, 243);
}

.j-offer-card>h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  color: rgb(0, 40, 128);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.j-offer-card>div {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95%;

}

.j-offer-card>div>div {
  width: 23%;
  margin: 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding-bottom: 10px;
  background-color: #fff;
}

.j-offer-card>div>div img {
  width: 100%;
  margin-bottom: 5px;
}

.j-offer-card>div>div h3 {
  color: red;
  margin: 5px 20px 5px 30px;
  font-size: 20px;
}

.j-offer-card>div>div h3 span {
  color: #0300bb;
}

.j-offer-card>div>div p {
  margin: 5px 20px 5px 30px;
}

.j-offer-card>div>div:hover h3 {
  text-decoration: underline;
  cursor: pointer;
}

.j-offer-card>div>div:hover p {
  color: #0300bb;
  cursor: pointer;
}

.j-faltu-img {
  margin: 20px 0px 20px 0px;
  width: 100%;
}
.j-faltu-img img{
  width: 100%;
}

#img-card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0px;
}

#img-card img {
  width: 15%;
  border-radius: 50%;
}

#img-card2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  margin: 30px 0px;
}

#img-card2 div {
  width: 15%;
  padding-bottom: 5px;
  border-radius: 5px;
}

#img-card2 div img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#img-card2 div:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: rgb(0, 61, 192);
  cursor: pointer;
}

/* #j-product-slider{
  width: 100%;
}
.j-product-card{
  width: 20%;
  border: 1px solid;
  padding: 10px;
}
.j-product-card >div img{
  width: 100%;
} */



#j-product-slider {
  position: relative;
  overflow: hidden;
  padding: 20px;
  background-color: rgb(233, 233, 233);
  margin: 30px 0px 30px 0px;
}

.product-category {
  padding: 0 10vw;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  color: rgb(0, 40, 128);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 400px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 330px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.discount-tag {
  position: absolute;
  background: #2d65ff;
  padding: 5px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: rgb(0, 61, 192);
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.product-card:hover .product-short-description {
  color: #0300bb;
  opacity: 1;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  font-size: 20px;
  color: rgb(22, 72, 180);
}

.actual-price span {
  color: rgb(192, 192, 192);
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 1;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

#faltu-para {
  text-align: justify;
  color: #686868;
  margin: 30px 10px;
}

/* ///////////////////////////// FOOTER //////////////////////////// */
#bottom {
  background-color: rgb(0, 21, 66);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  margin-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#btm-data {
  width: 90%;
  display: flex;
  justify-content: space-between;
  
}

#btm-data>div:nth-child(1)>h3 {
  width: 210px;
  padding-bottom: 5px;
  border-radius: 2px;
  border-bottom: 4px solid rgb(255, 208, 0);
}

#btm-data>div:nth-child(2)>h3 {
  width: 110px;
  padding-bottom: 5px;
  border-radius: 2px;
  border-bottom: 4px solid rgb(255, 208, 0);
}

#btm-data>div:nth-child(3)>h3 {
  width: 230px;
  padding-bottom: 5px;
  border-radius: 2px;
  border-bottom: 4px solid rgb(255, 208, 0);
}

#btm-data>div:nth-child(4)>h3 {
  width: 130px;
  padding-bottom: 5px;
  border-radius: 2px;
  border-bottom: 4px solid rgb(255, 208, 0);
}
#btm-data>div> p {
  color: white;
  font-size: 17px;
  margin: 10px;
}
#btm-data>div> p:hover{
  border-bottom: 1px solid #fff;
}
#btm-data>div> a p {
  color: white;
  font-size: 17px;
  margin: 10px;
}
#btm-data>div> a p:hover{
  background-color: white;
  border-radius: 10px;
  color: #0300bb;
  padding: 0px 3px;
}
